@page "/contact"
<PageTitle>@Localizer["ContactPageTitle"]</PageTitle>

<MudContainer Class="mt-10 " Style="height:100vh;">
    <MudText Color=Color.Tertiary Typo="Typo.h3" GutterBottom="true" Align="Align.Center">@Localizer["ContactLabel"]</MudText>
    <MudText Color=Color.Tertiary Typo="Typo.subtitle1" Align="Align.Center" Class="mb-6">@Localizer["ProfileLabel"]</MudText>

    <MudPaper Class="ma-8" Elevation="4">
        <MudForm Class="ma-8 mt-10 mb-10 pa-10">
            <MudTextField T="string" Text="@Name" Label="@Localizer["Name"]" Required="true" RequiredError="@Localizer["NameMandatoryLabel"]" Class="mb-4" />
            <MudTextField T="string" Text="@Email" Label=@Localizer["Email"] Required="true" RequiredError="@Localizer["EmailMandatoryLabel"]" InputType="InputType.Email" Class="mb-4" />
            <MudTextField T="string" Text="@Message" Label=@Localizer["Message"] Required="true" RequiredError="@Localizer["WriteMessageLabel"]" Lines="5" Class="mb-6" />
            <div class="d-flex justify-start gap-4 mt-10">
               
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.Send"
                           Size="Size.Large"
                           FullWidth="true"
                           OnClick="OpenWhatsApp">
                    @Localizer["SendWhatsApp"]
                </MudButton> <MudDivider Vertical="true" Class="mx-0" Style="background-color:var(--mud-palette-dark);"/>
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           Size="Size.Large"
                           ButtonType="ButtonType.Submit"
                           FullWidth="true"
                           StartIcon="@Icons.Material.Filled.Send">
                    @Localizer["SendEmail"]
                </MudButton>
            </div>
        </MudForm>

        <div class="d-flex justify-center ">
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Size="Size.Large" Color="Color.Dark" Href="https://github.com/weslleymurdock" Target="_blank" />
            <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Size="Size.Large" Color="Color.Info" Href="https://linkedin.com/in/wesll" Target="_blank" />
        </div>
    </MudPaper>
</MudContainer>

@code {
    private string Name { get; set; } = string.Empty;
    private string Email { get; set; } = string.Empty;
    private string Number { get; set; } = "5511997884628";
    private string Message { get; set; } = string.Empty;
    private string Template { get; set; } = @"Olá, sou #NAME# e vi seu portfólio, gostaria de conversar mais a respeito. Meu email: #EMAIL#";
    private void OpenWhatsApp()
    {
        var message = Template.Replace("#NAME#", Name).Replace("#EMAIL#", Email);
        string encoded = Uri.EscapeDataString(message);
        string url = $"https://wa.me/{Number}?text={encoded}";
        Navigation.NavigateTo(url);
    }
}