@page "/in-office"
@inject IBrowserStorageService SettingsService
@implements IDisposable

<PageTitle>@Localizer["InOfficeActPageTitle"]</PageTitle>
<MudContainer Class="pa-10 ">
    <div class="text-center mb-10">
        <MudText Typo="Typo.h2" Color=Color.Tertiary Align="Align.Center" Style="font-weight: 800;">@Localizer["InOfficeAct"]</MudText>
        <MudText Typo="Typo.h5" Color=Color.Tertiary Align="Align.Center" Class="mt-2 mb-10">@Localizer["InOfficeActDescription"]</MudText>
    </div>

    <MudTimeline TimelinePosition="TimelinePosition.Alternate">
   
        @if (experiences == null)
        {
            <div class="d-flex justify-center mt-10">
                <MudProgressCircular Color="Color.Success" Indeterminate="true" />
            </div>
        }
        else
        {
            @foreach (var item in experiences[_culture])
            {
                <MudTimelineItem Color="Color.Success" Elevation="25">
                    <ItemContent>
                        <MudCard>
                            <MudCardHeader Class=@("pa-5 " + "glass-royal-bg border-bg ")>
                                <MudText Typo="Typo.h5" Color="Color.Primary">@item.Title</MudText>
                            </MudCardHeader>
                            <MudCardContent Class="pa-5 ma-5">
                                <MudText Class=@("pa-4 ma-2 " + "glass-royal-bg border-bg ") Color=Color.Primary Typo="Typo.h6">@item.Company (@(DateTime.Parse(@item.StartDate).ToString(System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.ShortDatePattern)) - @(DateTime.Parse(@item.EndDate).ToString(System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.ShortDatePattern)))</MudText>
                                <MudText Color=Color.Surface Typo="Typo.body1" Class="pa-4 ma-2 "> @item.JobDescription </MudText>
                            </MudCardContent>
                            <MudCardActions Class="pa-5 ma-5">
                                <div>
                                <MudText Color=Color.Primary Typo="Typo.h6" Class=@("pa-4 ma-2 " + "glass-royal-bg border-bg ")> Tech Stack </MudText>
                                <MudChipSet T="MudChip<MudText>" Class="ma-4" Color="Color.Dark" Size="Size.Small">
                                    @foreach (var tech in item.Technologies)
                                    {
                                        <MudChip T="MudText"  Size="Size.Medium" Color="Color.Dark"  Class="rb-rr-gradient" Variant="Variant.Filled"><MudText>@tech</MudText></MudChip>
                                    }
                                </MudChipSet>
                                </div>
                            </MudCardActions>
                        </MudCard>
                    </ItemContent>
                </MudTimelineItem>
            }
        }
    </MudTimeline>
</MudContainer>
@code {

    private string _theme = "royal";
    private string _culture = "pt-BR";
    private bool _isDarkMode = true;
    private Dictionary<string, InOfficeExperience[]>? experiences;

    protected override async Task OnInitializedAsync()
    {

        SettingsService.OnSettingsChanged -= SettingsChanged;
        SettingsService.OnSettingsChanged += SettingsChanged;
        await SettingsService.InitializeAsync();
        _culture = await SettingsService.GetCurrentLanguageAsync();
        _theme = await SettingsService.GetCurrentThemeAsync();
        _isDarkMode = await SettingsService.GetIsDarkModeAsync();
        await base.OnInitializedAsync();
    }

    private void SettingsChanged()
    {
        _theme = SettingsService?.Settings?.Theme ?? "light";
        _culture = SettingsService?.Settings?.Language ?? "pt-BR";
        StateHasChanged();
    }

    public void Dispose() => SettingsService.OnSettingsChanged -= SettingsChanged;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || experiences == null || experiences.Count <= 0)
        {
            experiences = await Http.GetFromJsonAsync<Dictionary<string, InOfficeExperience[]>>("data/inoffice.json");

            StateHasChanged();
        }
        
        await base.OnAfterRenderAsync(firstRender);
    }
}