@page "/projects"
@implements IDisposable
@inject IBrowserSettingsService SettingsService

<PageTitle>@Localizer["ProjectsPageTitle"]</PageTitle>

<MudContainer Class="pa-10" Style="height:100vh;">
    <MudText Color=Color.Tertiary Typo="Typo.h3" GutterBottom="true" Align="Align.Center">@Localizer["ProjectsTitle"]</MudText>
    <MudText Color=Color.Tertiary Typo="Typo.subtitle1" Align="Align.Center" Class="mb-10">@Localizer["ProjectsSubtitle"]</MudText>
    <MudGrid>
        @if (projects == null)
        {
            <div class="d-flex pa-6 mt-6 mb-6 justify-center">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
            </div>
        }
        else
        {
            @foreach (ProjectData project in projects)
            {
                <MudItem xs="12" md="6" lg="6">
                    <MudCard Elevation="4" >
                        <MudCardHeader Class=""glass-royal-bg"">
                            <CardHeaderAvatar>
                                <MudIcon Icon="@project.Icon" Size="Size.Large" Color="Color.Secondary" />
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Color="Color.Dark" Typo="Typo.h5">@project.Title</MudText>
                                <MudText Color="Color.Secondary" Typo="Typo.caption" >@project.Platform</MudText>
                                <MudText Color="Color.Dark" Typo="Typo.body2" Class="m-3">@project.Description</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudChipSet T="MudChip<string>" Class="mt-4" T="MudChip<string>">
                                @foreach (var tech in project.Technologies)
                                {
                                    <MudChip T="string" Size="Size.Medium" Color="Color.Dark" Text="@tech" Style=" background: radial-gradient( circle at var(--mouse-x, 50%) var(--mouse-y, 50%), rgba(255,255,255,0.25), transparent 55% ), linear-gradient( 120deg,  var(--cmyk-m), var(--cmyk-y)); color: var(--mud-palette-dark);" Variant="Variant.Filled" />
                                }
                            </MudChipSet>
                        </MudCardContent>
                        <MudCardActions>
                            <MudIconButton Color="Color.Inherit" Icon="@Icons.Material.Filled.Link" Variant="Variant.Text">
                                <MudLink Href="@project.Source" Color="Color.Inherit">Ver Projeto</MudLink>
                            </MudIconButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            }
        }
    </MudGrid>
</MudContainer>
@code {
    private string _theme = "light";
    private string _language = "pt-br";
    private IList<ProjectData>? projects = [];

    protected override async  Task OnInitializedAsync()
    {
        SettingsService.OnSettingsChanged += SettingsChanged;
        await SettingsService.InitializeAsync();
        base.OnInitializedAsync();
    }

    private void SettingsChanged()
    {
        Task.Run(async() => await ApplySettings());
        StateHasChanged();
    }

    private async Task ApplySettings()
    {
        _theme = await SettingsService.GetCurrentThemeAsync();
        _language = await SettingsService.GetCurrentLanguageAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || projects?.Count <= 0)
        {
            projects = await Http.GetFromJsonAsync<List<ProjectData>>("data/projects.json");
            ApplySettings();
            StateHasChanged();
        }
    }
    public void Dispose()
    {
       SettingsService.OnSettingsChanged -= SettingsChanged;
    }
}