@page "/projects"
@implements IDisposable
@inject IBrowserStorageService SettingsService

<PageTitle>@Localizer["ProjectsPageTitle"]</PageTitle>

<MudContainer Class="pa-10" Style="height:100vh;">
    <MudText Color=Color.Tertiary Typo="Typo.h3" GutterBottom="true" Align="Align.Center">@Localizer["ProjectsTitle"]</MudText>
    <MudText Color=Color.Tertiary Typo="Typo.subtitle1" Align="Align.Center" Class="mb-10">@Localizer["ProjectsSubtitle"]</MudText>
    <MudGrid>
        @if (_projects == null || _projects.Count <= 0)
        {
            <div class="d-flex pa-6 mt-6 mb-6 justify-center">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
            </div>
        }
        else
        {
            if (_projects.TryGetValue(_language, out var projects))
            {
                @foreach (Project project in projects)
                {
                    <MudItem xs="12" md="6" lg="6">
                        <MudCard Elevation="4">
                            <MudCardHeader Class="glass-royal-bg border-bg">
                                <CardHeaderAvatar>
                                    <MudIcon Icon="@project.Icon" Size="Size.Large" Color="Color.Secondary" />
                                </CardHeaderAvatar>
                                <CardHeaderContent>
                                    <MudText Color="Color.Tertiary" Typo="Typo.h5">@project.Title</MudText>
                                    <MudText Color="Color.Secondary" Typo="Typo.caption">@project.Platform</MudText>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudText Color="Color.Surface" Typo="Typo.body2" Class="m-3">@project.Description</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudChipSet T="MudChip<string>" Class="mt-4">
                                    @foreach (var tech in project.Technologies)
                                    {
                                        <MudChip T="string" Size="Size.Medium" Color="Color.Surface" Text="@tech" Class="rp-rt-gradient" Variant="Variant.Filled" />
                                    }
                                </MudChipSet>
                                <MudIconButton Color="Color.Surface" Icon="@Icons.Material.Filled.Link" Variant="Variant.Text">
                                    <MudLink Href="@(new Uri(@project.Source).AbsoluteUri)" Color="Color.Surface">Ver Projeto</MudLink>
                                </MudIconButton>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                }
            }
            else
            {
                <MudItem xs="12" md="6" lg="6">
                    <MudCard Elevation="4">
                        <MudCardHeader Class="glass-royal-bg border-bg">
                            <CardHeaderAvatar>
                                <MudIcon Icon="@Icons.Material.Filled.NotAccessible" Size="Size.Large" Color="Color.Secondary" />
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Color="Color.Tertiary" Align="Align.Center" Typo="Typo.h5">Tradução não encontrada</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText Color="Color.Surface" Align="Align.Center" Typo="Typo.body2">Tradução não encontrada</MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        }
    </MudGrid>
</MudContainer>
@code {
    private string _theme = "light";
    private string _language = "pt-br"; 
    private Dictionary<string, Project[]>? _projects = [];

    protected override async Task OnInitializedAsync()
    {
        SettingsService.OnSettingsChanged += SettingsChanged;
        await SettingsService.InitializeAsync();
        await base.OnInitializedAsync();
    }

    private void SettingsChanged()
    {
        Task.Run(async () => await ApplySettingsAsync());
        StateHasChanged();
    }

    private async Task ApplySettingsAsync() => 
        (_theme, _language) = (await SettingsService.GetCurrentThemeAsync(), await SettingsService.GetCurrentLanguageAsync());

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || _projects?.Count <= 0)
        {
            _projects = await Http.GetFromJsonAsync<Dictionary<string, Project[]>>("data/projects.json");
            await ApplySettingsAsync();
            StateHasChanged();
        }
    }

    public void Dispose() => SettingsService.OnSettingsChanged -= SettingsChanged;
}